.donate{
padding-top: 130px;

}
.donate-info{
    text-align: center;
}
.donate-info h1{
    font-size: 3rem;
    font-weight: 800;
    color: #121212;
    margin-bottom: 20px;
}
.donate-info p{
    color: rgba(112, 112, 112, 1);
    font-size: 1rem;
    line-height: 28px;
    max-width: 691px;
    margin: 0 auto;
}
.donate-amount{
    align-items: center;
    justify-content: center;
    gap: 22px;

}
.donate-card{
    width: 135px;
    height: 123px;
    border-radius: 5px;
    background-color: #FAFAFA;
    padding: 44px 23px;
    text-align: center;
    margin-top: 50px;
}
.donate-card h4{
  font-size: 2rem;
  color: #707070;
  font-weight: 700;
}
.donate-card:nth-child(2){
  border: 1px solid #FF5959;
  background-color: rgb(255, 237, 237);
}
.donate-footer{
     text-align: center;
}
.donate-footer p{
     color: #B3B3B3;
     font-size: 1rem;
     line-height: 28px;
     margin-top: 50px;
}