.ftr-container{
    text-align: center;
    background-color: black;
    height: 177px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}
.ftr h1{
    color: #FF5959;
    font-size: 2rem;
}
.ftr p{
    color: gray;
}