.updates{
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 130px;
}
.updates-info h1{
    color: #121212;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
} 
.updates-info p{
   color: #707070;
   font-size: 1rem;
   line-height: 28px;
   max-width: 691px;
   margin: 0 auto;
   margin-bottom: 50px;
} 
.updates-input{
     background-color: #FFF4D6;
     width: 809px;
     padding: 76px 180px;
}
.updates-input input{
     width: 275px;
     height: 48px;
     font-size: 1rem;
     padding: 10px;
     border: none;
     background-color: #D9D9D9;
     color: #AA9F9F;
}
.updates-btn button{
    padding: 14px 43px;
    margin-top: 0;
}